* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

body {
    font-family: 'Gilroy-Bold', sans-serif;
    font-family: 'Gilroy-Medium', sans-serif;
    font-family: "Gilroy-SemiBold";

    
}

.center {
    padding-left: calc(50% - 586px) ;
    padding-right: calc(50% - 586px);
}

.nav__menu {    
    display: flex;
    gap: 32px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}

.nav__home {
    color: #F25822;
    font-family: "Gilroy-SemiBold";
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.site__name {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.name__be {
    color: #F25822;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 500px;
}

.header__logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
}

.top__content {   
    margin-top: 96px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 39px;

}

.title {
    width: 522px;
    margin-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__buttons {
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 72px;

       
}

.btn__start {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border: none;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.text__start {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text__watch {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__image {
    margin-bottom: 162.45px;
}

.top__logos {
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}


.text {
    width: 481px;
}



.content {

}

.top_block {
    display:flex;
    
    padding-top: 140px;
    padding-bottom: 100px;
    
}

.top_img {
    padding-bottom: 25px;
}

.top_text {
    padding-top: 17px;
}

.text_link {
    padding-top: 25px;
}

.bottom_block {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 370px);
    justify-content: center;
    padding-top: 54px;
    padding-bottom: 100px;
}

.top_title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_text {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    width: 310px;
}

.text_link {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
}

.center__header {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.center__text {
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    width: 682px;
    padding-bottom: 54px;
}

.bottom_img {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    padding-bottom: 0px;
}

.bottom__title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.bottom__text {
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    width: 310px;
    padding-top: 22px;
}

.learn_more {
    color: #FFF;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 19.5px */
}

.bottom_img {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;

}
